 
    




* {text-decoration: none;
    list-style: none}
    
    
    body{
        background: #f1f0f0;
        
    }
    
    
    .container{
      
        margin: 0 auto;
        padding: auto;
    }
    
    header{
    background:#ffffff;
    
    }
    
    
    
    header::after{
    content: '';
    display:table;
    clear: both;
    }
      
    
    .name{
        background:#4aaaa5;
        border-style:solid 2px;
        border-color:#cccccc;
        color: #ffffff;
        float: left;
        font-family:Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        padding: 17px;
        font-weight: bold;
        margin-left:151px;
    }
    
    nav{
        float: right;   
    }
    
    nav ul{
        padding:10px 10px;
    }
    
    nav a{
        background: white;
        color: #6b6a6a;
    }
    
    nav li{
        display: inline-block;  
        margin-left:-60px;
        padding-right: 150px;
    }
    
    .content{
    
    width:960px;
    text-align: left;
    margin-left:auto;
    margin-right:auto;
    }
    
    img {
        height: 200px;
        float: left;
        padding-right: 20px; 
        padding-bottom: 20px;
        padding-top:20px;
       
        
    }
    
    
    div .paragraph{
    padding: 10px;
    border: 1px solid #f1f0f0;
    margin: 0;   
    text-align: justify;
    background: #ffffff;
    color:#6b6a6a;
    
    }
    
    
    
    h2{
        padding:left 30px;
        background:#ffffff;
    }
     #u {
        color:#4aaaa5;
        background:#ffffff;
        border-bottom: #f1f0f0 1px solid;
        text-align: left;
        margin-bottom:0;
        padding: 20px;
    }
    
    
    footer{
    background: #666666;
    color: #c7c0c0;
    text-align: center;
    padding:20px 20px;
    clear:left;
    ;
    
    }
    
     
     .iportfolio{
        width: 960px;
        height:400px;
    
    }
    
    #port{
    background:#ffffff;
    color:#4aaaa5;
    border-bottom: #f1f0f0 1px solid;
    text-align: left;
    margin-bottom:0;
    padding: 20px;
    
    }
    
    #cont{
    background: #ffffff;
    color:#4aaaa5;
    border-bottom: #f1f0f0 1px solid;
    text-align: left;
    margin-bottom:0;
    padding: 20px;
    }
    
    form{
    padding: 25px;
    background:white;
    }
        
    input{
    width: 70%;
    height:25px;
    }
    
    textarea{
    width: 70%;
    height:150px;
    }
    
    button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    }


 
/* iphone X format*/


/* 
 
 @media screen and (max-width:375px) 
{
    * {
        text-decoration: none;
        list-style: none
    }
        
        
        body{
            background: #f1f0f0;
            
        }
        
        
        .container{
            width:100%;
            margin: 0 auto;
            padding: auto;
        }
        
        header{
        width:100%;
        background:#ffffff;
        
        }
        
        
        
        header::after{
        content: '';
        display:table;
        clear: both;
        }
        
        
        .name{
            width:100%;
            background:#4aaaa5;
            border-style:solid 2px;
            color: #ffffff;
            float: left;
            font-family:Georgia, 'Times New Roman', Times, serif;
            text-align: center;
            padding-top:12px;
            padding-bottom:12px;
            
            
   
        }
        
        nav{
            width:100%;
            float:right;   
        }
        
           
           
        }
        
        nav a{
            background: white;
            color: #6b6a6a;
        }
        
        nav li{
            display: inline-block;  
            padding-right: 45px;
        }
        
        .content{
        
        width:100%;
        
        }
        
        img {
           width:100%;  
        }
        
        
        div .paragraph{
        padding: 10px;
        border: 1px solid #f1f0f0;
        text-align: justify;
        background: #ffffff;
        color:#6b6a6a;
        box-sizing: border-box;
        
        }
        
        
        
        h2{
            padding:left 30px;
            background:#ffffff;
        }
         #u {
            color:#4aaaa5;
            background:#ffffff;
            border-bottom: #f1f0f0 1px solid;
            text-align: left;
            margin-bottom:0;
            padding: 20px;
        }

        
        
        
        
        footer{
        background: #666666;
        color: #c7c0c0;
        text-align: center;
        padding:20px 20px;
        clear:left;
        ;
        
        }
        
         
         .iportfolio{
            width: 960px;
            height:400px;
        
        }
        
        #port{
        background:#ffffff;
        color:#4aaaa5;
        border-bottom: #f1f0f0 1px solid;
        text-align: left;
        margin-bottom:0;
        padding: 20px;
        
        }
        
        #cont{
        background: #ffffff;
        color:#4aaaa5;
        border-bottom: #f1f0f0 1px solid;
        text-align: left;
        margin-bottom:0;
        padding: 20px;
        }
        
        form{
         width:100%;
        padding: 25px;
        }
        
        input{
        width: 85%;
        height:25px;
        }
        
        textarea{
        width: 85%;
        height:100px;
        }
        
        button {
        background-color: #4CAF50; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
     }
*/


 


@media screen and (max-width:640px) {

     .container{
         width:100%;
         background:rgb(140, 147, 20);

      }

    .name{
        width:94.5%;
        background:#4aaaa5;
        border-color:#cccccc;
        color: #ffffff;
        font-family:Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        padding-top:20px;
        padding-bottom:20px;
        font-weight: bold;
      }

      img {
          height:414px;
        
       
     }
     .content{
        
        width:100%;
     }
     
     div .paragraph{
        padding: 10px;
        border: 1px solid #f1f0f0;
        text-align: justify;
        background: #ffffff;
        color:#6b6a6a;
        box-sizing: border-box;
     }
     
  
    .nav li{
        display: inline-block;  
        margin-left:50px;
        padding-right: 80px;
    }

    #u {
        color:#4aaaa5;
        background:#ffffff;
        border-bottom: #dd5858 1px solid;
        padding-left: 20px;
        padding-top:20px;
        padding-bottom: 20px;
    }

    .content{
          width:100%;
   } 

   #cont{
    background: #ffffff;
    color:#4aaaa5;
    border-bottom: #f1f0f0 1px solid;
    text-align: left;
    margin-bottom:0;
    padding: 20px;
    }
    
    form{
     width:100%;
    padding: 25px;
    background:rgba(242, 239, 239, 0.906);

    }
    
    input{
    width: 85%;
    height:25px;
    }
    
    textarea{
    width: 85%;
    height:100px;
    }
    
    button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
 }
}
  
  

@media screen and (mi-width:768px) {

    .container{
        width:100%;
        background:rgb(15, 103, 129);

     }

   .name{
       background:#4aaaa5;
       border-color:#cccccc;
       color: #ffffff;
       float: left;
       font-family:Georgia, 'Times New Roman', Times, serif;
       text-align: center;
       padding-top:20px;
       padding-bottom:20px;
       font-weight: bold;
     }

   nav li{
       display: inline-block;  
       margin-left:50px;
       padding-right: 80px;
   }

   #u {
       color:#14948e;
       background:#ffffff;
       border-bottom: #dd5858 1px solid;
       padding-left: 20px;
       padding-top:20px;
       padding-bottom: 20px;
   }

   .content{
         width:100%;
     }
 
}   


@media screen and (max-width:980px) 
{

    .container{
        width:100%;
        background: rgba(62, 128, 94, 0.386)

     }

   .name{
       background:#4aaaa5;
       border-color:#cccccc;
       color: #ffffff;
       float: left;
       font-family:Georgia, 'Times New Roman', Times, serif;
       text-align: center;
       padding-top:20px;
       padding-bottom:20px;
       font-weight: bold;
       margin-left:0;
     }

   nav li{
       display: inline-block;  
       margin-left:50px;
       padding-right: 80px;
   }

   #u {
       color:#4aaaa5;
       background:#ffffff;
       border-bottom: rgb(221, 88, 88) 1px solid;
       padding-left: 20px;
       padding-top:20px;
       padding-bottom: 20px;
   }

   .content{
         width:100%;
     }
 
}   
